@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

body{
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    font-family: 'Oswald', sans-serif;
    color: white;

}

.contenedor{
    background-color: #00257f;

    width: 100%;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider {
    width: 75%;
    height: auto;
    margin: auto;
    overflow: hidden;

    cursor: pointer;
}

.slider .slide-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;


    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 12);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 6));
        transform: translateX(calc(-200px * 6));
    }
}