
/*
    -------------------------------------------
        RESET BUTTON STYLE
    -------------------------------------------
*/
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

}




/*
    -------------------------------------------
       GENERAL STYLES
    -------------------------------------------
*/


.contenedor-items-faq{
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq {
    width: 60%;
    height:auto;

    display: flex;
    flex-direction: column;

    border-radius: 5px;

    overflow: hidden;
}
.cabecera-faq{
    display: flex;
}
.titulo-faq{
    flex: 9;
    padding-left: 2rem;
}

.boton-faq{
    flex: 1;
    height: auto;

    cursor: pointer;
}

.contenedor-respuesta{
    width: 100%;
    height: auto;
}

/*
    -------------------------------------------
        Activate or deactivate elements
    -------------------------------------------
*/
.active{
    display: block !important;
}
.desactivar{
    display: none !important;
}

.texto-faq{
    display: none;

    width: 70%;
    margin: 0 auto;

    padding: 1rem;
}
.cerrar-faq{
    display: none;

}

/*
    -------------------------------------------
        Activate or deactivate elements
    -------------------------------------------
*/

@media screen and (max-width:800px) {
    .contenedor{
        width: 70%;
    }
}
@media screen and (max-width:670px){
    .faq{
        width: 80%;
    }
}
@media screen and (max-width:500px) {
    .contenedor{
        width: 100%;
    }
}
